.back-button {
  background-color: rgba(#ffffff, 0.75);
  color: rgb(50, 50, 50);
  z-index: 2;
  top: 24px;
  left: 24px;
}

app-cover {
  animation: fadeInOut 9500ms ease-in infinite 500ms;
  opacity: 0;
}
