@import "./config/styling/config.scss";

html,
body {
  margin: 0;
  height: 100%;
  background-color: rgb(25, 25, 25);
}

.loading-spinner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $accent-color;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
